<a (click)="logout()">Logout</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users">
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td><button id="delete-button" (click)="onDeleteUser(user.id)">X</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <form class="join pure-form pure-form-stacked"
            [formGroup]="addForm"
            (ngSubmit)="onAddSubmit()">
        <label>Username</label>
        <input type="text"
               placeholder="Username"
               autocomplete="off"
               formControlName="username">
        <label for="email">Email</label>
        <input type="text"
               placeholder="Email"
               id="email"
               autocomplete="off"
               formControlName="email">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!addForm.valid">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
