
.forms {
  text-align: center;
}

a{
  font-size: 30px;
}

table {
  background-color: indianred;
}

tr {
  text-align: center;
  color: black;
}

input {
  padding: 5px;
  font-size: 150%;
}

label {
  padding: 5px;
  font-size: 130%;
  text-align: left;
}

button {
  padding: 10px;
  font-size: 140%;
  border-radius: 7px;
  margin-top: 15px;
  color: white;
  background-color: #808080a3;
}

button:hover {
  color: #9e9e9e;
}

#delete-button {
  font-size: 50%;
  color: white;
  background-color: red;
  margin-top: -20px;
}
